USE [master]
GO
/****** Object:  Database [CargaEmpleados]    Script Date: 27/10/2024 17:44:26 ******/
CREATE DATABASE [CargaEmpleados]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CargaEmpleados', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CargaEmpleados.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CargaEmpleados_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CargaEmpleados_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CargaEmpleados].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CargaEmpleados]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 27/10/2024 17:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[EmpleadoID] [int] IDENTITY(1,1) NOT NULL,
	[ApellidoNombre] [nvarchar](100) NOT NULL,
	[DNI] [bigint] NOT NULL,
	[SueldoBruto] [decimal](18, 2) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([EmpleadoID], [ApellidoNombre], [DNI], [SueldoBruto], [FechaRegistro]) VALUES (11, N'Lopez luis', 34567891234, CAST(110000.00 AS Decimal(18, 2)), CAST(N'2024-10-27T16:33:35.807' AS DateTime))
INSERT [dbo].[Empleados] ([EmpleadoID], [ApellidoNombre], [DNI], [SueldoBruto], [FechaRegistro]) VALUES (12, N'Lopez pedro', 45678912345, CAST(120000.00 AS Decimal(18, 2)), CAST(N'2024-10-27T16:33:35.810' AS DateTime))
INSERT [dbo].[Empleados] ([EmpleadoID], [ApellidoNombre], [DNI], [SueldoBruto], [FechaRegistro]) VALUES (13, N'Lopez ariel', 12345678912, CAST(120000.00 AS Decimal(18, 2)), CAST(N'2024-10-27T16:52:43.083' AS DateTime))
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
/****** Object:  Index [UQ__Empleado__C035B8DD83FDF466]    Script Date: 27/10/2024 17:44:27 ******/
ALTER TABLE [dbo].[Empleados] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
USE [master]
GO
